//COLORS
$color-primary:#262626;
$nav-color-1:#f9f9f9;
$nav-color-2:#d4f6fe;
$nav-color-3:#fef1d6;
$nav-color-4:#e7d8fc;
$nav-color-5:#ffdac6;
$nav-color-6:#ffd236;

// FONT
$default-font-size: 1.6rem;

//GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;//space between the (grid)columns