@import "abstracts/functions";
@import "abstracts/mixins";
@import "abstracts/variables";

@import "base/animations";
@import "base/base";
@import "base/typography";
@import "base/utilities";

@import "components/button";
@import "components/composition";
@import "components/hamburger";


@import "layout/grid";
@import "layout/heading";
@import "layout/navigation";
@import "layout/sections";

//@import "pages/about";

@import "pages/project-one-description";
@import "pages/index";
@import "pages/contact";


@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');


// /* --- Header ------------------------------------ */
// .header {
//     height: 85vh;
//     position: relative;

//     &_logo-box {
// position: absolute;
// top: 4rem;
// left: 4rem;
//     }
//     &_logo {
//         height: 3.5rem;
//     }
//     &_text-box {
//         position: absolute;
//         top: 40%;
//         left: 50%;
//         transform: translate(-50%, -50%);
//         text-align: center;
//     }
// }



/* Media Query: Large Smartphone (Vertical) */
@media (max-width: 600px) {
    section#home a {
        top: 1rem;
        left: 1rem;
    }

    .menu-bars {
        top: 0.5rem;
        right: 1rem;
    }
}




// /* font */
// font-family: 'RalewayBold';
// font-family: 'Raleway', sans-serif;

// .button {
//     background: #fafafa;
//     background: -webkit-linear-gradient(top, #ffffff, #eeeeee);
//     background: -moz-linear-gradient(top, #ffffff, #eeeeee);
//     background: -o-linear-gradient(top, #ffffff, #eeeeee);
//     background: linear-gradient(to bottom, #ffffff, #eeeeee);
//     border: 1px solid #bbbbbb;
//     border-radius: 4px;
//     box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.2);
//     color: #555555;
//     cursor: pointer;
//     display: inline-block;
//     font-family: "Helvetica Neue", Arial, Verdana, "Nimbus Sans L", sans-serif;
//     font-size: 13px;
//     font-weight: 500;
//     height: 31px;
//     line-height: 28px;
//     outline: none;
//     padding: 0 13px;
//     text-shadow: 0 1px 0 white;
//     text-decoration: none;
//     vertical-align: middle;
//     white-space: nowrap;
//     -webkit-font-smoothing: antialiased;
//     -webkit-box-sizing: border-box;
//     -moz-box-sizing: border-box;
//     box-sizing: border-box;
//   }
  
//   .button-blue {
//     background: #1385e5;
//     background: -webkit-linear-gradient(top, #53b2fc, #1385e5);
//     background: -moz-linear-gradient(top, #53b2fc, #1385e5);
//     background: -o-linear-gradient(top, #53b2fc, #1385e5);
//     background: linear-gradient(to bottom, #53b2fc, #1385e5);
//     border-color: #075fa9;
//     color: white;
//     font-weight: bold;
//     text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
//   }
  
//   background-color: #F36C00;
//   background-color: #ff9; 
//   color: #000;
// /* addevent */
//   #0b1518;
//    #1a4255; 
//    background: #f0f8fb
//    border: 1px solid #bcd1da;
//    background: #2f98e2
//    color: #ffffff;
//    &:hover {
//     background: #2f8bcb;
// }
// border: 1px solid #bcd1da;
// background: #e2f0f6;
// border-bottom: 1px solid #c0d4dc;
// color: #88979e;
// background-color: #e1eff6;

// /* choose file */
// border-bottom: 1px solid #c0d4dc; 
//    font {
//     background: #cfe5ee;
//     color: #7c9aa7;
//     &::-webkit-input-placeholder { color:#7c9aa7; }
//     &::-moz-placeholder { color:#7c9aa7; } /* firefox 19+ */
//     &:-ms-input-placeholder { color:#7c9aa7; } /* ie */
//     &:-moz-placeholder { color:#7c9aa7; }

//    }
//    /* style */
// { background: #888; }
// .nano .slider { background: #111; };
// background: #888; 
// /* search container */
// background: #ffc600;
// border-bottom: 1px solid #ffd236;
// border-bottom: 1px solid #d4aa16;
// color: #7e6717; 
// color: #7e5e14;
// background: #fff9e6; 
// background: #fff9e6;
// -moz-box-shadow: 0 0 23px 1px rgba(213, 169, 17, 0.3);
// /* outer glow */
// -webkit-box-shadow: 0 0 23px 1px rgba(213, 169, 17, 0.3);
// /* outer glow */
// box-shadow: 0 0 23px 1px rgba(213, 169, 17, 0.3);

// border: 1px solid #726c59;
// /* login wrapper */
// background-color: #e6faf5;
// border: 1px solid #9de1ca;
// color: #2fb487;
// color: #9ae1c9;
// border-left: 1px solid #c0ddd3;
// color: #638378;
// border-top: 1px solid #c0ddd3;
// color: #ffffff;
// background: #2f98e2; 
// background: #3b579c;
// background: #e6faf5;
// color: #b0c5c0;
// background: #b9e1d3; 
// background: #3ec094 !important;
// background-color: #2fe2a5;
// border: 1px solid #2fc491;
// background: #e6faf5;
// background: #cdf3e6;
// background: #2f8bcb; 
// background: #344b84; 
// color: #b0c5c0; 
// background: #cdf3e6;
// background: #727a68;

// /* event list */
// background: #ecfed4;
// background: #d4f6fe;
// background: #fef1d6; 
// background: #e7d8fc; 
// background: #e0fede; 
// background: #ffdac6;
// background: #d9fff5; 
// background: #f9f9f9; 
// color: #ff0000
// color: #262626;
// background: #727a68;

// background: #202020;
// color: #171b12;
// background: #1d2325;
// border: 1px solid #353535;
// color: #4b4b4b;
// color: #8e8e8e;
// border-color: transparent transparent transparent #8e8e8e; 
// /* single event */
// background: #eaeaea;
// border: 1px solid #d0d0d0;
// background: #e6e7e4;
// color: #1e1e1e;
// color: #636363;
// background-color: #f5f5f5;
// border: 1px solid #d7748c;
// color: #ed1a4d;
// background: #d9dada; 
// border: 1px solid #cccccc;