@import "abstracts/functions";
@import "abstracts/mixins";
@import "abstracts/variables";

@import "base/animations";
@import "base/base";
@import "base/typography";
@import "base/utilities";

@import "pages/home";

@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');


$color-primary:#262626;
$nav-color-1:#f9f9f9;
$nav-color-2:#d4f6fe;

// universal selector - added by jonas https://stackoverflow.com/questions/46475916/whats-the-difference-between-and-html-in-css-selector
// *{
//     margin:0;
//     padding: 0;
// }


/*CSS Variables https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_custom_properties */
:root {
    --primaryColor: #262626;
    // --navColor1: #f9f9f9;
    // --navColor2: #d4f6fe;
    // --navColor3: #fef1d6;
    --navColor4: #e7d8fc;
    --navColor5: #ffdac6;
}

html {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: #000;
    /*update font family*/
    font-family: Raleway, sans-serif;
}



/* --- Navigation Menu ------------------------------ */

/* Overlay */
.overlay {
    /*scroll always there*/
    position: fixed;
    /* above everything else on our page*/
    z-index: 9;
    top: 0;
    /* on the right corner*/
    left: 0;
    /* as wide as the screen*/
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.25);
    /*get the Navigation on the screen/off the screen. 
      The Navigation is the child of the Overlay, work with .overlay
        Full of the screen, off of the page. To change translateX(-100)from hidden to visible add below variation (4)
    */
    transform: translateX(-100vw);
}
/*4*/
/*Show Navigation (is hidden yet) nice & slowly*/
.overlay-slide-right {
    transition: all 0.4s ease-in-out;
    /*bring the Navigation back in the view*/
    transform: translateX(0);
}
/*bring the Navigation out of the view. Restore to -100vw as it was initially*/
.overlay-slide-left {
    transition: all 0.8s ease-in-out;
    /*bring the Navigation back out off the view*/
    transform: translateX(-100vw);
}
/*to actually make the Navigation work (4) need to add and remove these classes to .overlay (JS file "Toggle: Menu Active")*/

/* Nav Menu Items (parent of the Navigation)*/

nav,
nav ul {
    /* width of the Menu Items full width*/
    height: 100vh;
    margin: 0;
    padding: 0;
}

    /* styling nav bar everything flow top-bottom & stretch */
    nav ul {
        display: flex;
        /* items top to bottom instad left to right*/
        flex-direction: column;
        /* stretch to fit the width of the page */
        justify-content: stretch;
        list-style: none;
    }
        /* add height to each item so they spread out to them full heigth all of those*/
        nav ul li {
            /* use % instead of vh to be 20% height of the parent ( nav, nav ul height: 100vh;) which is already set up above*/
            height: 20%;
            /* don't stretch the page horizontal, don't want horizontal scrollbar after all*/
            overflow: hidden;
        }

    /*style anker tag within Navigation*/
    nav li a {
        /*centered within each of the boxes*/
        position: relative;
        /*45% of the way from the top, not 50% because the font takes some space too*/
        top: 45%;
        /*always use this color, we're not using the css variables*/
        color: $color-primary;
        text-transform: uppercase;
        /*seperate the letters withtin titles to look more unique*/
        letter-spacing: 4px;
        text-decoration: none;
        display: block;
        text-align: center;
    }
        /*add interactivity when hovering over the items*/
        nav li a:hover {
            /*make our nav anker 10% bigger*/
            transform: scale(1.1);
        }
        /*hightlight it to have animated effect*/
        /*add content before anker element, add line instead of text */
        nav li a::before {
            content: "";
            /*must be responsive*/
            width: 25vw;
            height: 1px;
            background-color: $color-primary;
            position: absolute;
            /*kind of in the middle, but little bit higher, height of the line itself */
            top: 47.5%;
            /*start on the left side*/
            left: 0;
            /*1. by default the opacity is 0*/
            opacity: 0;
        }



        nav li a:hover::before {
            /*2. the opacity will be 1 if hovered over it*/
            opacity: 1;
        }    /*select each of nav elements using pseudo classes ":*/
    /*target 1st element*/
  
    nav li:nth-of-type(1) {
        background-color: $nav-color-1;
    }

    nav li:nth-of-type(2) {
        background-color: $nav-color-2
    }

    nav li:nth-of-type(3) {
        background-color: #fef1d6;
    }

    nav li:nth-of-type(4) {
        background-color: var(--navColor4);
    }

    nav li:nth-of-type(5) {
        background-color: var(--navColor5);
    }

/*Slide In Animation of the NAV ITEMS with delay for each nav item https://developer.mozilla.org/en-US/docs/Web/CSS/animation
Below Class for each animations for each item in Navigation
    linear means it moves at an even speed, with delay of 0.2s, both fills backwords and forwards. 
*/
.slide-in-1 {
    animation: slide-in 0.4s linear 0.2s both;
}
/*delay is adjusted so thre is more delayed then the last by .2s more on each of them*/
.slide-in-2 {
    animation: slide-in 0.4s linear 0.4s both;
}

.slide-in-3 {
    animation: slide-in 0.4s linear 0.6s both;
}

.slide-in-4 {
    animation: slide-in 0.4s linear 0.8s both;
}

.slide-in-5 {
    animation: slide-in 0.4s linear 1s both;
}
/*The actual animation. @keyframes to dictate the animation sliding from the screen and off to the screen
Below animation takes 0.4s and for each of the animation it launch .2s after the previous one*/
@keyframes slide-in {
    from {
        transform: translateX(-100%); /*% it is not the parent element*/
    }

    to {
        transform: translateX(0); /*showing full navigation*/
    }
}
/*do the opposite for Slide Out Animation, increate delay by.1s, set max of fill with 0.5s as it slide in increment by .1s*/
.slide-out-1 {
    animation: slide-out 0.3s linear 0.5s both;
}
/*delay is adjusted so there is more delayed then the last by .2s more on each of them*/
.slide-out-2 {
    animation: slide-out 0.3s linear 0.4s both;
}

.slide-out-3 {
    animation: slide-out 0.3s linear 0.3s both;
}

.slide-out-4 {
    animation: slide-out 0.3s linear 0.2s both;
}

.slide-out-5 {
    animation: slide-out 0.3s linear 0.1s both;
}
/*reverse keyframes*/
@keyframes slide-out {
    from {
        transform: translateX(0); /*it starts on the page already*/
    }

    to {
        transform: translateX(-100%); /*animatie it off the page*/
    }
}


/* ADD HAMBURGER MENU TO SHOW/HIDE THE NAVIGATION TOGGLE ON/OFF*/

/* --- Menu Bars  https://www.w3schools.com/howto/howto_css_menu_icon.asp ------------------------------------ */

.menu-bars {
    position: fixed;
    top: 1rem;
    right: 2rem;
    z-index: 10;
    display: inline;
    cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 2px;
    background-color: $color-primary;
    margin: 8px 0;
    transition: 0.4s;
}

/* Rotate first bar 
    To turn on/off the bar, use .change class to show up the X, when off it is regular bar (JS file)
*/
.change .bar1 {
    transform: rotate(-45deg) translate(-7px, 8px);
}

/* Fade out the second bar */
.change .bar2 {
    opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
    transform: rotate(45deg) translate(-6px, -8px);
}

// /* --- Header ------------------------------------ */
// .header {
//     height: 85vh;
//     position: relative;

//     &_logo-box {
// position: absolute;
// top: 4rem;
// left: 4rem;
//     }
//     &_logo {
//         height: 3.5rem;
//     }
//     &_text-box {
//         position: absolute;
//         top: 40%;
//         left: 50%;
//         transform: translate(-50%, -50%);
//         text-align: center;
//     }
// }

/* --- Sections ------------------------------------ */

section {
    width: 100%;
    height: 100vh;
    position: relative; //this is how logo is palced
    font-size: 0.8rem;
    /*display: flex;*/
    padding: 20px;
    /*justify-content: center;
    align-items: center;*/
    text-transform: uppercase;
    letter-spacing: 2px;
    color: var(--primaryColor);
}


    // linkmuis Copy Image Address and paste belo
    section#home {
        background-color:$nav-color-1;
        // background-image: url("https://images.unsplash.com/photo-1601758174039-617983b8cdd9?ixid=MXwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=986&q=80");
        // background-size: cover;
        // background-position: center center;
  
    }
    
        /* --- Logo + settings Home page------------------------------ Can use animation, when hover it */
        .logo {
            height: 35px;
        }
        .logo:hover{
            animation: moveInRight 1s ease-out;
        }
        section#home a { 
            position: absolute; //placing logo top left relevant to position which is absolute
            z-index: 2;
            top: 1.5rem;
            left: 1.5rem;
            text-decoration: none;
            /*font-size: 0.8rem;*/
            padding-bottom: 5px;
            color: var(--primaryColor);
            border-bottom: 1px solid var(--primaryColor);
        }


    
    /* --- Heading------------------------------ */
    
    .text-box {//stay text always in the middle
        position: absolute;//to place text in the center of the page
        top: 50%;//how X hight is the text placed
        left: 50%; //how Y left or right 
        transform: translate(-50%, -50%); //postion heading in the middle
        text-align: center;//place button at the center of the box
    }


    .heading-primary { // to style font, add font-size here
    color: --primaryColor;
    // text-transform: uppercase;
    backface-visibility: hidden;//backparts of the element gets hidden ie if you want to rotate something and the back part is visible
    margin-bottom: 40px; //add white space between heading and the button
    }
    
    .heading-primary-main {
    display: block;
    font-weight: 400;

    //animation required to work
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;

    /*animation-delay: 3s;
    animation-iteration-count: 3;
    ease-in animation start slower, and ten axcellarate over time
    https://developer.mozilla.org/en-US/docs/Web/CSS/animation-timing-function
    */
    }
    .heading-primary-sub {
        display: block;
        font-weight: 400;
        animation: moveInRight 1s ease-out;//MOVES IN RIGHT DIRECTIONS

    }

    @keyframes moveInLeft { //FADES IN FROM THE LEFT
        0% { //STARTS OF THE ANIMATION
            opacity:0 ;
            transform: translateX(-100px);//animate in X DIRECTION (minus) moves to the LEFT
        }
    
        80% {
            transform: translateX(10px);//positive amount go to the right Y
           
        }
        100% { //ENDS OF THE ANIMATIONS
            opacity:1 ;
            transform: translate(0);
        }
    }

    @keyframes moveInRight {  //FADES IN FROM THE RIGHT
        0% { 
            opacity:0 ;
            transform: translateX(100px);
        }
        80% {
transform: translateX(-10px);
           
        }
        100% {
            opacity:1 ;
            transform: translate(0);
        }
    }

// Styling button My projects
    .btn:link,
    .btn:visited {    //:link for state selectors ie hover, focus etc, it functions as a link. :visited state when user clicked on the button, and it sees the button again without styling
 border: 2px solid #ffd236;   padding: 15px 40px;//first for top&bottom, second for left&right
    display: inline-block;//display as inline block (treat it as text box, to add paddings or widths to the element
   cursor: pointer;
 }

    .btn-white {
        background-color: $color-white;
        color: #ffd236;
        outline: #ffd236;
    }

    .btn-white:hover {
        border-color: #ffd236;
        background-color: #ffd236;
        color: #fff;
       
    }

    section#layout {
        background-color:$nav-color-1;
    }
    section#content {
        background-color: $nav-color-2;

       
    }

    section#components {
        background-color: #fef1d6;
    }

    section#utilities {
        background-color: var(--navColor4);
    }

    section#more {
        background-color: var(--navColor5);
    }

/* Media Query: Large Smartphone (Vertical) */
@media (max-width: 600px) {
    section#home a {
        top: 1rem;
        left: 1rem;
    }

    .menu-bars {
        top: 0.5rem;
        right: 1rem;
    }
}




// /* font */
// font-family: 'RalewayBold';
// font-family: 'Raleway', sans-serif;

// .button {
//     background: #fafafa;
//     background: -webkit-linear-gradient(top, #ffffff, #eeeeee);
//     background: -moz-linear-gradient(top, #ffffff, #eeeeee);
//     background: -o-linear-gradient(top, #ffffff, #eeeeee);
//     background: linear-gradient(to bottom, #ffffff, #eeeeee);
//     border: 1px solid #bbbbbb;
//     border-radius: 4px;
//     box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.2);
//     color: #555555;
//     cursor: pointer;
//     display: inline-block;
//     font-family: "Helvetica Neue", Arial, Verdana, "Nimbus Sans L", sans-serif;
//     font-size: 13px;
//     font-weight: 500;
//     height: 31px;
//     line-height: 28px;
//     outline: none;
//     padding: 0 13px;
//     text-shadow: 0 1px 0 white;
//     text-decoration: none;
//     vertical-align: middle;
//     white-space: nowrap;
//     -webkit-font-smoothing: antialiased;
//     -webkit-box-sizing: border-box;
//     -moz-box-sizing: border-box;
//     box-sizing: border-box;
//   }
  
//   .button-blue {
//     background: #1385e5;
//     background: -webkit-linear-gradient(top, #53b2fc, #1385e5);
//     background: -moz-linear-gradient(top, #53b2fc, #1385e5);
//     background: -o-linear-gradient(top, #53b2fc, #1385e5);
//     background: linear-gradient(to bottom, #53b2fc, #1385e5);
//     border-color: #075fa9;
//     color: white;
//     font-weight: bold;
//     text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
//   }
  
//   background-color: #F36C00;
//   background-color: #ff9; 
//   color: #000;
// /* addevent */
//   #0b1518;
//    #1a4255; 
//    background: #f0f8fb
//    border: 1px solid #bcd1da;
//    background: #2f98e2
//    color: #ffffff;
//    &:hover {
//     background: #2f8bcb;
// }
// border: 1px solid #bcd1da;
// background: #e2f0f6;
// border-bottom: 1px solid #c0d4dc;
// color: #88979e;
// background-color: #e1eff6;

// /* choose file */
// border-bottom: 1px solid #c0d4dc; 
//    font {
//     background: #cfe5ee;
//     color: #7c9aa7;
//     &::-webkit-input-placeholder { color:#7c9aa7; }
//     &::-moz-placeholder { color:#7c9aa7; } /* firefox 19+ */
//     &:-ms-input-placeholder { color:#7c9aa7; } /* ie */
//     &:-moz-placeholder { color:#7c9aa7; }

//    }
//    /* style */
// { background: #888; }
// .nano .slider { background: #111; };
// background: #888; 
// /* search container */
// background: #ffc600;
// border-bottom: 1px solid #ffd236;
// border-bottom: 1px solid #d4aa16;
// color: #7e6717; 
// color: #7e5e14;
// background: #fff9e6; 
// background: #fff9e6;
// -moz-box-shadow: 0 0 23px 1px rgba(213, 169, 17, 0.3);
// /* outer glow */
// -webkit-box-shadow: 0 0 23px 1px rgba(213, 169, 17, 0.3);
// /* outer glow */
// box-shadow: 0 0 23px 1px rgba(213, 169, 17, 0.3);

// border: 1px solid #726c59;
// /* login wrapper */
// background-color: #e6faf5;
// border: 1px solid #9de1ca;
// color: #2fb487;
// color: #9ae1c9;
// border-left: 1px solid #c0ddd3;
// color: #638378;
// border-top: 1px solid #c0ddd3;
// color: #ffffff;
// background: #2f98e2; 
// background: #3b579c;
// background: #e6faf5;
// color: #b0c5c0;
// background: #b9e1d3; 
// background: #3ec094 !important;
// background-color: #2fe2a5;
// border: 1px solid #2fc491;
// background: #e6faf5;
// background: #cdf3e6;
// background: #2f8bcb; 
// background: #344b84; 
// color: #b0c5c0; 
// background: #cdf3e6;
// background: #727a68;

// /* event list */
// background: #ecfed4;
// background: #d4f6fe;
// background: #fef1d6; 
// background: #e7d8fc; 
// background: #e0fede; 
// background: #ffdac6;
// background: #d9fff5; 
// background: #f9f9f9; 
// color: #ff0000
// color: #262626;
// background: #727a68;

// background: #202020;
// color: #171b12;
// background: #1d2325;
// border: 1px solid #353535;
// color: #4b4b4b;
// color: #8e8e8e;
// border-color: transparent transparent transparent #8e8e8e; 
// /* single event */
// background: #eaeaea;
// border: 1px solid #d0d0d0;
// background: #e6e7e4;
// color: #1e1e1e;
// color: #636363;
// background-color: #f5f5f5;
// border: 1px solid #d7748c;
// color: #ed1a4d;
// background: #d9dada; 
// border: 1px solid #cccccc;