.container {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr)); //1fr 2fr as soon as it is less then 350px, it changes the grid system 

}

.project-container {
    margin: 55px;
padding: 55px;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr)); //1fr 2fr as soon as it is less then 350px, it changes the grid system 
   // grid-template-areas: "first second second";
}