// Styling button My projects
.btn:link,
.btn:visited {    //:link for state selectors ie hover, focus etc, it functions as a link. :visited state when user clicked on the button, and it sees the button again without styling
    display: inline-block;//display as inline block (treat it as text box, to add paddings or widths to the element
  position: relative;
    font-size: $default-font-size;
    font-weight: 700;
    line-height: 1;
    z-index: 1;
   // transition: all .6s cubic-bezier(.19,1,.22,1);
    border: .2rem solid $nav-color-6;   
padding: 1.5rem 4rem;//first for top&bottom, second for left&right
cursor: pointer;
//missing font-size 1.6rem?
}

//NORMAL STATE BUTTON
.btn-text {
     color: $nav-color-6;
     background-image: linear-gradient(120deg, transparent 0%, transparent 50%, $nav-color-6 50%);
     background-size: 220%;
     transition: all .4s;
 

      //ACT OF STATE
    &:hover,
    &:active {
        background-position: 100%;
        color: $nav-color-1;
        transform: translateX(1rem);
    }
}