// Styling button My projects
.btn:link,
.btn:visited {    //:link for state selectors ie hover, focus etc, it functions as a link. :visited state when user clicked on the button, and it sees the button again without styling
border: .2rem solid $nav-color-6;   
padding: 1.5rem 4rem;//first for top&bottom, second for left&right
display: inline-block;//display as inline block (treat it as text box, to add paddings or widths to the element
cursor: pointer;
//missing font-size 1.6rem?
}

.btn-white {
    background-color: $nav-color-1;
    color: $nav-color-6;
    outline: $nav-color-6;
}

.btn-white:hover {
    border-color: $nav-color-6;
    background-color: $nav-color-6;
    color: $nav-color-1;;
   
}

//this button style later
.btn-text {
   font-size: $default-font-size;
}